* {
  box-sizing: border-box;
}

.fondo {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgb(249, 245, 241), #302419);
  min-height: 100vh;
}

.navbar {
  border-radius: 10px;
  height: 80px;
  font-size: 27px;
}

.logo {
  width: 85px;
  height: 80px;
  background: url("./media/logo.png");
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 90px;
  left: 47%;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #302419;
}

.titulo {
  width: 487px;
  color: #302419;
  position: absolute;
  top: 200px;
  left: 22%;
  font-family: Squada One;
  font-weight: Regular;
  text-align: left;
  font-size: 100px;
  line-height: 90px;
}

.p1 {
  width: 505px;
  color: #302419;
  position: absolute;
  top: 380px;
  left: 22%;
  font-family: Libre Baskerville;
  font-size: 30px;
  text-align: left;
  margin-top: 20px;
  font-weight: bold;
}

.placeh {
  width: 220px;
  height: 46px;
  color: #302419;
  position: absolute;
  top: 520px;
  left: 22%;
  font-family: Libre Baskerville;
  font-weight: Regular;
  font-size: 18px;
  margin-top: 70px;
  background-color: rgb(249, 245, 241);
  border-style: none;
  opacity: 0.6;
}

.placeh:hover {
  box-shadow: 0.2;
}

.main{
  display: flex;
}

.btn {
  width: 144px;
  height: 50px;
  color: #302419;
  font-family: Libre Baskerville;
  font-weight: Regular;
  font-size: 19px;
  text-align: center;
  background: rgb(186, 209, 224);
  margin-top: 508px;
  margin-left: 600px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem "Squada One";
  padding: 1em 2em;
  letter-spacing: 0.05rem;
}
.btn:focus {
  outline: 2px dotted #55d7dc;
}

.btn-danger{
  margin-top: 80px;
  margin-left: 200px;
}

.draw-border {
  box-shadow: inset 0 0 0 4px #58afd1;
  color: #58afd1;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}
.draw-border::before, .draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}
.draw-border:hover {
  color: rgb(249, 245, 241);
}
.draw-border:hover::before, .draw-border:hover::after {
  border-color: rgb(249, 245, 241);
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

.imageno {
  transform: scale(0.75) rotateY(-30deg) rotateX(45deg) translateZ(4.5rem);
  transform-origin: 50% 100%;
  transform-style: preserve-3d;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.25);
  transition: 0.6s ease transform;
  width: 85px;
  height: 80px;
  background: url("./media/logo.png");
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 90px;
  left: 47%;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #302419;
}
.imageno:hover {
  transform: scale(1);
}
.imageno::before {
  transform: translateZ(4rem);
}
.imageno::before:hover {
  transform: translateZ(0);
}
.imageno::after {
  transform: translateZ(-4rem);
}
.imageno::after:hover {
  transform: translateZ(-1px);
}

.img {
  background: url("./media/principal.png");
  background-position: center center;
  background-size: cover;
  margin-top: 135px;
  margin-left: 220px;
  border-radius: 10px;
}

.img:hover {
  transition: all 0.5s ease-in-out;
  filter: grayscale(80%);
  transform: scale();
}

.imgo {
  transform: rotateX(51deg) rotateZ(43deg);
  transform-style: preserve-3d;
  border-radius: 32px;
  box-shadow: 1px 1px 0 1px #f9f9fb, -1px 0 28px 0 rgba(34, 33, 81, 0.01), 28px 28px 28px 0 rgba(34, 33, 81, 0.25);
  transition: 0.4s ease-in-out transform, 0.4s ease-in-out box-shadow;
}
.imgo:hover {
  transform: translate3d(0px, -16px, 0px) rotateX(51deg) rotateZ(43deg);
  box-shadow: 1px 1px 0 1px #f9f9fb, -1px 0 28px 0 rgba(34, 33, 81, 0.01), 54px 54px 28px -10px rgba(34, 33, 81, 0.15);
}

.cara2 {
  background-color: #302419;
  text-align: center;
  font-size: 25px;
  padding: 30px;
}

.cara2 h2 {
  font-family: Squada One;
  font-weight: Regular;
  font-size: 30px;
  margin-bottom: 10px;
  color: rgb(236, 236, 236);
}

.cara2 a {
  font-size: 40px;
  letter-spacing: 8px;
  text-decoration: none;
  color: rgb(236, 236, 236);
}

.img1 {
  position: absolute;
  top: 160px;
  left: 10px;
  margin-left: 90px;
}

.cara {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 160px;
  left: 5%;
}

.cara h2 {
  position: absolute;
  top: 160px;
  left: 35%;
  font-size: 60px;
  font-family: Squada One;
  color: #ffffff;
}

.cara p {
  position: absolute;
  top: 180px;
  left: 35%;
  font-size: 20px;
  font-family: Libre Baskerville;
  margin-right: 250px;
  margin-top: 60px;
  color: #ffffff;
}

.cara p a {
  font-size: 25px;
  text-decoration: none;
  color: #302419;
  background-color: rgb(186, 209, 224);
  padding: 20px;
  font-family: Squada One;
  top: 270px;
  left: 35%;
  border-radius: 10px;
}

.card-text {
  font-family: Libre Baskerville;
}

.card-title {
  font-family: Squada One;
  font-size: 40px;
}

.productos {
  margin-top: 70px;
}

.card {
  transform: rotate3d(0.5, -0.866, 0, 15deg) rotate(1deg);
  box-shadow: 2em 4em 6em -2em rgba(0, 0, 0, 0.5), 1em 2em 3.5em -2.5em rgba(0, 0, 0, 0.5);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  border-radius: 0.5em;
  display: flex;
}
.card:hover {
  transform: rotate3d(0, 0, 0, 0deg) rotate(0deg);
}

.podcast {
  background-color: none;
  float: center top;
  padding-left: 280px;
  padding-right: 280px;
  margin-top: 100px;
  margin-bottom: 100px;
  color: #ffffff;
}

.podcast-h1 {
  margin-top: 20px;
  color: #ffffff;
  margin: 30px;
  font-family: Squada One;
}

.podcast-h2 {
  font-family: Squada One;
  margin-top: 10px;
}

.podcast-p {
  font-family: Kanit, sans-serif;
  font-size: 18px;
  color: rgb(99, 99, 99);
  margin-bottom: 10px;
  color: #ffffff;
  margin: 15px;
}

.imgcom {
  transform: perspective(1500px) rotateY(15deg);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  transition: transform 1s ease 0s;
}
.imgcom:hover {
  transform: perspective(3000px) rotateY(5deg);
}

#accordionExample {
  margin-bottom: 100px;
}

.accordion-item {
  padding: 20px;
  justify-content: center;
  margin-left: 150px;
  margin-right: 150px;
}

.preg {
  text-align: center;
  margin-top: 60px;
  color: #ffffff;
  font-size: 60px;
}

.btn1 {
  padding: 10px;
  font-family: Squada One;
  font-size: 25px;
  width: 130px;
  margin-top: 10px;
}

@media only screen and (min-width: 200px) and (max-width: 650px) {
  .p1 {
    font-size: 20px;
  }
  .boton {
    position: absolute;
    top: 635px;
    left: 36%;
    margin-top: 13px;
  }
}
@media only screen and (min-width: 651px) and (max-width: 900px) {
  .boton {
    position: absolute;
    top: 635px;
    left: 36%;
    margin-top: 13px;
  }
}
.navbar:hover {
  transform: scale(1.02);
  transition: all 2s;
}/*# sourceMappingURL=estilos.css.map */